﻿.abc {

    background-color : mediumpurple;
    text-decoration-color : black;


}

.flexer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qqq {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.zzz {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right {
    position: absolute;
    right: 1rem;
}

.blockLR1 {
width: 35%;

}
.blockLR2 {
    width: 35%;
}

.blockR3{
    width:47%;
    margin-top: 0.7rem;
    margin-bottom:0.2rem;
}

.btnEnter {
    width: 20%;
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
}
.btnReg {
    width: 30%;
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
}

.blockAddGroup {
    width: 60%;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-top: 4rem;
    border-width:0.25px;
    border-style: solid;
    border-color: dimgrey;
    box-shadow: rgb(236, 236, 245) 5px 5px inset;
    width: 60%;
    height: 70%;
}

.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-top: 4rem;
    border-width: 0.25px;
    border-style: solid;
    border-color: dimgrey;
    box-shadow: rgb(236, 236, 245) 5px 5px inset;
    width: 70%;
    height: 70%;
}

.addLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-top: 4rem;
    border-width: 0.25px;
    border-style: solid;
    border-color: dimgrey;
    box-shadow: rgb(236, 236, 245) 5px 5px inset;
    width: 80%;
    height: 70%;
}
.blockAddLink1 {
    width: 90%;
}

.blockAddLink2 {
    width:60%;
}

.blockAddLink3 {
    width:40%;
    
}

.blockAddLink4 {
    width: 40%;
    margin-top:0.5rem;
    font-style: italic;
}

.h3Style{
    margin-top:1rem;
   font-size:large;
}

.ComponentsBack{
    background-color:lightslategrey;
}

.links{
    color:dodgerblue;
}

.blockTable {
 
    width: 100%;
}

.tableTitle{
    background-color:white;
    color:black;
    font-size:x-large;
    margin-left:1rem;
}
.divTable0 {
    background-color: rgb(93, 93, 104);
}

.h3Table{
    font-size:x-large;
    color:aliceblue;
    margin-left: 2rem;
}

.groups{
    width:30%;  
    margin-bottom:0.3rem;
}

.btnDel{
    width:20%;
    margin-bottom: 1rem;
}

.divh3{ 
    height:10%;
    background-color:rgb(80, 80, 95);
}
.btnAddLink{
    margin-left:0.3rem;
    margin-right:0.3rem;
}

div.bg-black {
    min-height: calc(100vh - 56px);
    background-color: rgb(93, 93, 104);
}

.url-group {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);   
}

.twoBtn{
    width: 60%;
    /*align-items: center;
    display: flex;
    flex-direction: row;*/
    text-align: center;
}

.col1{
    max-width:500px;
    

}
.row1 {
    max-height: 400px;
}