﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/service/bootstrap.min.css" />
    <link rel="stylesheet" href="/Style.css" />

    <title></title>
</head>

<body>
    <div id="Nav"> </div>
    <div  id="router"></div>


    <script src="/service/jquery.min.js"></script>
    <script src="/service/popper.min.js"></script>
    <script src="/service/bootstrap.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/@@babel/standalone/babel.min.js"></script>
    <script src="/public/bundle.js"></script>



</body>
</html>
